html{
	height: 100%;
	background-color: #5a5255;
}

body{
	background-color: #5a5255;
}

img{
	height: 120px;
	width: 100%;
	position: absolute;
	left: 0px;
	border-radius: 5px;
}

img:hover{
	transform: rotate(180deg);
	transition: all .5s;
}

.title{
	font-size: 50px;
	color: white
}

.the-table{
	background-color: #559e83;
	border: 4px solid #06302f;
	border-radius: 10px 10px 45% 45%;
	margin-top: 50px;
	text-align: center;
	padding: 30px 0px;
	color: white;
	font-size: 16px;
	font-family: Lucida Console;
	/* transform: skew(10deg); */
}

.card{
	position: relative;
	display: inline-block;
	height: 120px;
	border-radius: 5px;
	/* width: 60px; */
	width: 12.6%;
	color: black;
	margin: 5px;
	/* border: 1px solid black; */
	background-color: #559e83;
	/* background-image: url(""); */
}

.button-wrapper{
}

.button{
	width: 75px;
	font-size: 18px;
	/* transform: skew(-10deg); */
}

.deal-button{
	color: black;
	background-color: #1b85b8;
}

.hit-button{
	color: black;
	background-color: #ae5a41;
}

.hit-button:hover{
	background-color: green;
}

.stand-button{
	color: black;
	background-color: #c3cb71;
}

.stand-button:hover{
	background-color: red;
}

#restart-game{
	background-color: #559e83;
	margin-top: 10px;
	color: black;
	/* transform: skew(-10deg); */
}

.player-total{
	/* transform: skew(-10deg); */
}

.dealer-total{
	/* transform: skew(-10deg); */
}